:root {
  --color-rose: #ffd2ff;
  --color-grey: #d7e1e1;
  --color-blue: #0028aa;
  --color-black: #000000;
  --color-white: #fff;
  --font: "Bricolage Grotesque", sans-serif;
  --color-text: var(--color-black);
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
  padding: 10px 5px 5px;
  margin-top: 95px;
}
