.card__answer-button {
  display: block;
  margin: 40px auto;
  background: var(--color-black);
  color: var(--color-white);
  border: none;
  border-radius: 100px;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  letter-spacing: 1.5;
}

.card__answer-button:hover {
  background: var(--color-blue);
}

.card__answer.hidden {
  display: none;
}
