.card__answer-button {
  display: block;
  background: var(--color-black);
  color: var(--color-white);
  border: none;
  border-radius: 100px;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  letter-spacing: 1.5;
  margin: 20px auto;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.card__answer-button:hover {
  transform: scale(1.05);
}

.card__answer-button.active {
  background-color: var(--color-blue);
}

.card__answer.hidden {
  display: none;
}

.card__answer {
  text-align: center;
  margin-top: 12px;
}
