.question-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  width: 100%;
}

.card {
  background: var(--color-grey);
  padding: 30px;
  position: relative;
  border-radius: 8px;
  width: 100%;
}

.card__question {
  text-align: center;
  margin: 20px;
}

.card__bookmark--active,
.card__bookmark--inactive {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
}

.card__bookmark--active:hover,
.card__bookmark--inactive:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}

.card__tags {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-top: 20px;
  margin-left: -10px;
  margin-bottom: -10px;
}

.tag {
  padding: 2px 5px;
}

@media (min-width: 600px) {
  .question-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 900px) {
  .question-cards {
    grid-template-columns: repeat(5, 1fr);
  }
}
