:root {
  --color-rose: #ffd2ff;
  --color-grey: #d7e1e1;
  --color-blue: #0028aa;
  --color-black: #000000;
  --color-white: #fff;
  --font: "Bricolage Grotesque", sans-serif;
  --color-text: var(--color-black);
}

.card {
  position: relative;
  margin: 20px 10%;
  padding: 3% 10%;
  background: var(--color-grey);
  scroll-margin-top: 100px;
  text-align: center;
  z-index: 0;
}

.card__bookmark {
  position: absolute;
  top: -20px;
  right: 5px;
  border: none;
  cursor: pointer;
  background: none;
}

.card__bookmark .icon {
  width: 50px;
}

.card__title {
  font-family: var(--font);
  font-weight: 700;
  color: var(--color-black);
  letter-spacing: 0.2;
  font-size: 24px;
}

.card__tags {
  position: absolute;
  left: 13px;
  bottom: 1px;
}

.tag {
  background-color: #000000;
  border-radius: 5px;
  padding: 5px 8px;
  margin-right: 5px;
  color: #d7e1e1;
  font-size: 14px;
}
