.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffd2ff;
  color: black;
  padding: 30px;
  text-align: center;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__title {
  margin: 0;
}
