.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffd2ff;
  color: black;
  padding: 10px;
  text-align: center;
  z-index: 1000;
  display: flex;
  justify-content: center;
}

.header__title {
  margin: 0;
  font-size: 60px;
  letter-spacing: -0.5;
}
