* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color-rose: #ffd2ff;
  --color-grey: #d7e1e1;
  --color-blue: #0028aa;
  --color-black: #000000;
  --color-white: #fff;
  --font: "Bricolage Grotesque", sans-serif;
  --color-text: var(--color-black);
}

body {
  font-family: var(--font);
  background: var(--color-white);
  color: var(--color-text);
  margin: 0px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
}

main {
  margin-top: 80px;
  margin-bottom: 80px;
  width: 100%;
  box-sizing: border-box;
}

.main-title {
  font-size: 33px;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}
